<header>
    <a href="#" id="return-to-top"><i class="fas fa-chevron-up"></i></a>

    <div class="slider__main">
        <div class="container">
            <div class="slider__wrapper">
                <div class="slider__block">
                    <h1 class="slider__block--title">CREATIVE <br> AND PROFESSIONAL </h1>
                    <p class="slider__block--text">Use, by you or one client, in a single end product which and
                        users are not charged for. Use, by you or one client, in a single end product which and users are not charged for.</p>
                    <button type="button" class="slider__block--btn">Contact Us</button>
                </div>
                <div class="slider__block">
                    <h1 class="slider__block--title">CREATIVE <br> AND PROFESSIONAL</h1>
                    <p class="slider__block--text">Use, by you or one client, in a single end product which and
                        users are not charged for. Use, by you or one client, in a single end product which and users are not charged for.</p>
                    <button type="button" class="slider__block--btn">Contact Us</button>
                </div>
                <div class="slider__block">
                    <h1 class="slider__block--title">CREATIVE <br> AND PROFESSIONAL</h1>
                    <p class="slider__block--text">Use, by you or one client, in a single end product which and
                        users are not charged for. Use, by you or one client, in a single end product which and users are not charged for.</p>
                    <button type="button" class="slider__block--btn">Contact Us</button>
                </div>
            </div>
        </div>
    </div>

    <div class="main-menu">
        <div class="container">
            <div class="menu-wrapper">
                <div class="menu-logo">
                    <a href="index.html">
                        <img src="img/logotype.png" alt="">
                    </a>
                </div>
                <div class="menu-nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Page</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="header-hamburger-menu">
                    <div class="hamburger"></div>
                </div>
                <div class="mobile-menu__wrapper">
                    <ul class="mobile-menu--wrapper__list">
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Home</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Service</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">About</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Portfolio</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Page</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Blog</a></li>
                        <li class="mobile-menu--list__item"><a class="mobile-menu__link" href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>