@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');
@import "partials/header";
@import "partials/about";
@import "partials/responsive";
@import "partials/feautures";
@import "partials/work";
@import "partials/service";
@import "partials/pricing";
@import "partials/expert";
@import "partials/impressed";
@import "partials/news";
@import "partials/contacts";
@import "partials/footer";


html {
  overflow-x: hidden;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
  transition: all .5s ease;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  outline: 0;
}

button {
  background: none;
  border: none;
  outline: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1150px) {
  .container {
    max-width: none;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}