@import "partials/header";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main-menu {
  background-color: #2a2a2a;
  width: 100%;
  height: 79px;
  .menu-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    .menu-nav {
      display: flex;
      margin-left: auto;
      ul {
        display: flex;
        li {
          a {
            color: #ffffff;
            font-size: 14px;
            font-weight: 300;
            margin-right: 60px;
            text-transform: uppercase;
            letter-spacing: 0.56px;
            transition: all .4s;
          }
          &:hover a {
            color: #ffe400;
            transition: all .4s;
          }
          &:nth-child(1) a {
            color: #ffe400;
          }
          &:last-child a {
            margin-right: 50px;
          }
        }
      }
    }
  }
}

.about__big-circle {
  position: absolute;
  left: -27%;
  top: 17em;
  z-index: -1;
}

.about__ipad {
  position: absolute;
  right: 0;
  top: 63em;
  z-index: -1;
}

.about-main {
  margin-top: 150px;
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  .about-title {
    span {
      color: #e8e8e8;
      font-size: 91px;
      font-weight: 800;
      text-transform: uppercase;
      left: 50%;
      top: 0;
      transform: translate(-50%,-50%);
      position: absolute;
      z-index: -1;
    }
    .about-main-text {
      h2 {
        color: #444444;
        font-size: 36px;
        font-weight: 700;
        line-height: 24px;
        padding-top: 8px;
        text-transform: uppercase;
      }
      p {
        display: block;
        width: 100%;
        margin: 30px auto 0;
        max-width: 940px;
        color: #b5b5b5;
        font-family: 'Muli', sans-serif;
      }
    }
  }
}

.about-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
  .more-info-btn {
    cursor: pointer;
    width: 226px;
    height: 62px;
    color: #ffe400;
    border: 1px solid #a6a6a6;
    background-color: #000;
    margin-right: 25px;
    transition: all .5s;
    span {
      color: #ffe400;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      font-family: 'Montserrat', sans-serif;
      transition: all .5s;
    }
    &:hover {
      background-color: #ffe400;
      border: none;
      transition: all .5s;
    }
    &:hover span {
      color: #000;
      transition: all .5s;
    }
  }
  .experience-btn {
    background-color: #ffe400;
    cursor: pointer;
    width: 226px;
    height: 62px;
    span {
      color: #000;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      font-family: 'Montserrat', sans-serif;
    }
    &:hover {
      background-color: #000;
      border: 1px solid #a6a6a6;
      transition: all .5s;
    }
    &:hover span {
      color: #ffe400;
      transition: all .5s;
    }
  }
}

.about-guarantee {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
  .about-guarantee-blocks {
    display: flex;
    flex-wrap: wrap;
    width: 360px;
    height: 349px;
    border: 1px solid #aaaaaa;
    background-color: #212121;
    margin-right: 30px;
    padding: 25px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .6s all;
    &:last-child {
      margin-right: 0;
    }
    a {
      font-size: 115px;
      margin: 70px auto 15px;
      color: #ffe400;
      transition: .6s all;
      transform: translate(0);
    }
    h2 {
      display: block;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      margin-bottom: 35px;
      transition: .6s all;
      transform: translate(0);
    }
    p {
      color: #ffffff;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      transition: .6s all;
      transform: translate(0, 45px);
      z-index: 3;
      position: relative;
    }
    img {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    &:hover {
      border: 1px solid #d4d4d4;
      transition: .6s all;
      background-color: #ffe400;
    }
    &:hover a {
      color: #ffffff;
      transform: translate(0, -40px);
      transition: .6s all;
    }
    &:hover h2 {
      transform: translate(0, -40px);
      transition: .6s all;
    }
    &:hover p {
      visibility: visible;
      opacity: 1;
      transform: translate(0, -40px);
      transition: .6s all;
    }
    &:hover img {
      transition: .6s all;
      transition-delay: .1s;
      visibility: visible;
      opacity: 1;
    }
  }
}

.about-us-title {
  margin-bottom: 123px;
  h3 {
    color: #444444;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
  }
}

.about-statistic {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 146px;
  .about-statistic-block {
    margin-right: 200px;
    text-align: center;
    p {
      color: #757575;
      font-family: 'Muli', sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
    }
    span {
      color: #444444;
      font-family: 'Muli', sans-serif;
      font-size: 46px;
      font-weight: 800;
      text-transform: uppercase;
    }
    &:nth-child(1) {
      margin-left: 35px;
    }
    &:last-child {
      margin-right: auto;
    }
  }
}

.responsive-main {
  background-color: #fafafa;
  border: 1px solid #d6d6d6;
  position: relative;
  .responsive-title {
    margin-top: 170px;
    position: relative;
    margin-bottom: 120px;
    span {
      color: #f0f0f0;
      position: absolute;
      font-size: 72px;
      font-weight: 800;
      line-height: 63px;
      text-transform: uppercase;
    }
    .responsive-desc {
      position: relative;
      z-index: 3;
      h3 {
        color: #444444;
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 30px;
      }
      p {
        color: #757575;
        display: block;
        max-width: 540px;
        font-family: 'Muli', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-transform: none;
        margin-top: 55px;
      }
      ul {
        margin-top: 55px;
        li {
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 30px;
          }
          a {
            color: #757575;
            i {
              padding-right: 10px;
              font-size: 13px;
            }
          }
        }
      }
      button {
        background-color: #ffe400;
        width: 127px;
        height: 43px;
        cursor: pointer;
        transition: all .5s;
        a {
          color: #000000;
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          transition: all .5s;
        }
        &:hover {
          background: #000000;
          transition: all .5s;
        }
        &:hover a {
          color: #ffe400;
          transition: all .5s;
        }
      }
      .responsive__running-human {
        position: absolute;
        top: -63px;
        right: 0;
        z-index: -1;
      }
    }
  }
  .responsive__light-lamp {
    top: 0;
    position: absolute;
    left: 68px;
    z-index: 0;
  }
}

.who-we-are-main {
  width: 100%;
  height: 652px;
  background: url("../img/who-we-are.png")no-repeat;
  .who-we-are-title {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    img {
      margin-top: 162px;
      margin-left: auto;
      margin-right: auto;
    }
    h1 {
      display: block;
      width: 100%;
      margin-top: 65px;
      color: #fdfdfd;
      font-size: 44px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
    }
    p {
      max-width: 743px;
      width: 100%;
      color: #fdfdfd;
      font-family: 'Muli', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      margin: 40px auto 0;
    }
    .btn-group {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 70px;
      .more-info-btn {
        width: 226px;
        height: 62px;
        background-color: transparent;
        border: 1px solid white;
        margin-right: 24px;
        cursor: pointer;
        transition: all .5s;
        span {
          color: #ffffff;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          font-family: 'Montserrat', sans-serif;
          transition: all .5s;
        }
        &:hover {
          background: #ffe400;
          border: none;
          transition: all .5s;
        }
        &:hover span {
          color: #000000;
          transition: all .5s;
        }
      }
      .join-btn {
        width: 226px;
        height: 62px;
        background-color: #ffe400;
        cursor: pointer;
        transition: all .5s;
        span {
          color: #000000;
          font-size: 18px;
          font-weight: 600;
          line-height: 24px;
          font-family: 'Montserrat', sans-serif;
          transition: all .5s;
        }
        &:hover {
          background: transparent;
          border: 1px solid white;
          transition: all .5s;
        }
        &:hover span {
          color: #ffffff;
          transition: all .5s;
        }
      }
    }
  }
}

.features-main {
  position: relative;
  .features-title {
    margin-top: 126px;
    text-align: center;
    span {
      line-height: 66px;
      color: #f0f0f0;
      font-size: 91px;
      font-weight: 900;
      text-transform: uppercase;
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      top: 0;
      z-index: -1;
    }
    h2 {
      color: #444444;
      font-size: 30px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      padding-top: 43px;
    }
    .features-icons-wrapper {
      margin-top: 140px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 95px;
      .features-icons {
        display: flex;
        flex: 0 0 33%;
        img {
          max-width: 66px;
          max-height: 67px;
        }
        .features-desc {
          display: block;
          margin-left: 20px;
          margin-bottom: 75px;
          max-width: 286px;
          h4 {
            color: #444444;
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }
          p {
            margin-top: 28px;
            color: #757575;
            max-width: 265px;
            text-align: left;
            font-family: 'Muli', sans-serif;
            font-size: 15px;
          }
        }
      }
    }
  }
}

.work-main {
  background-color: #ffe400;
  position: relative;
  .work-title {
    padding-top: 105px;
    text-align: center;
    margin-bottom: 57px;
    span {
      color: #e8d100;
      font-size: 91px;
      position: absolute;
      top: 135px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 900;
      text-transform: uppercase;
      z-index: 0;
    }
    h3 {
      color: #000000;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      z-index: 4;
      padding-top: 36px;
    }
    .work-menu {
      margin-top: 65px;
      ul {
        display: flex;
        justify-content: center;
        li {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 18px;
          border: 1px solid black;
          margin-right: 7px;
          a {
            color: #000000;
            font-size: 13px;
            font-weight: 600;
            line-height: 22px;
            i {
              color: #ffffff;
              font-size: 21px;
              padding-top: 4px;
            }
          }
          &:first-child {
            display: flex !important;
            background: #000;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

.work-gallary {
  display: flex;
  flex-wrap: wrap;
  .gallary-block {
    display: flex;
    position: relative;
    overflow: hidden;
    img {
      max-width: 475px;
      height: 100%;
      transition: all .6s;
    }
    &:hover .gallary-desc {
      transition: all .6s;
      transform: translate(0);
    }
    .gallary-desc {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.85);
      width: 100%;
      height: 66px;
      bottom: 0;
      left: 0;
      transition: all .6s;
      -webkit-transform: translate(0, 100px);
      -moz-transform: translate(0, 100px);
      -ms-transform: translate(0, 100px);
      -o-transform: translate(0, 100px);
      transform: translate(0, 100px);
      .gallary-wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        h6 {
          color: #444444;
          font-size: 16px;
          margin-left: 30px;
          font-weight: 700;
          line-height: 24.33px;
          text-transform: uppercase;
        }
        span {
          text-transform: uppercase;
          color: #757575;
          font-family: 'Muli', sans-serif;
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 0.4px;
          margin-left: 7px;
        }
        .gallary-buttons-wrapper {
          display: flex;
          background: rgba(255, 255, 255, 0.85);
          border-radius: 30px;
          position: absolute;
          right: 20px;
          top: -22px;
          justify-content: center;
          padding: 11px;
          border: 1px solid #fff600;
          .cage {
            border: 1px solid black;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            background: white;
            display: flex;
            margin-right: 12px;
            cursor: pointer;
            a {
              display: flex;
              i {
                transform: rotate(90deg);
                color: #000;
              }
            }
          }
          .search-box {
            border: 1px solid #e3cc00;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            background: #ffe400;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            a {
              display: flex;
              i {
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}

.service-main {
  position: relative;
  overflow: hidden;
  .service-title {
    margin-top: 160px;
    margin-bottom: 120px;
    h1 {
      color: #ededed;
      position: absolute;
      right: 0;
      margin-right: 315px;
      transform: translate(-50%);
      font-size: 91px;
      font-weight: 900;
      text-transform: uppercase;
      line-height: 66px;
      z-index: -1;
    }
    span {
      color: #444444;
      font-size: 30px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      display: block;
      margin-right: 20px;
      padding-top: 44px;
      text-align: right;
    }
    .service-wrapper {
      margin-top: 150px;
      display: flex;
      justify-content: center;
      width: 50%;
      margin-left: auto;
      flex-wrap: wrap;
      .service-block {
        max-width: 214px;
        padding-right: 40px;
        padding-bottom: 60px;
        text-align: center;
        height: 100%;
        max-height: 190px;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
        a i {
          color: #444444;
          font-size: 48px;
          font-weight: 400;
          line-height: 22px;
          margin-bottom: 40px;
        }
        h6 {
          color: #444444;
          font-weight: 700;
          font-size: 18px;
          text-transform: uppercase;
          margin-bottom: 35px;
        }
        p {
          font-size: 13px;
          line-height: 24px;
          color: #757575;
        }
        &:nth-child(2) {
          padding-left: 40px;
          padding-right: 0;
          border-right: none;
        }
        &:nth-child(3) {
          padding-top: 50px;
          padding-bottom: 0;
          border-bottom: none;
        }
        &:last-child {
          padding-left: 40px;
          padding-top: 50px;
          padding-right: 0;
          padding-bottom: 0;
          border: none;
        }
      }
    }
  }
  .service__md-circle {
    position: absolute;
    bottom: -22%;
    left: -17%;
    z-index: 5;
  }
  .service__people {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.pricing-main {
  position: relative;
  height: 1200px;
  background: url("../img/price-bg.png") no-repeat;
  .pricing-title {
    padding-top: 100px;
    text-align: center;
    position: relative;
    h1 {
      color: #e6d119;
      font-size: 91px;
      font-weight: 900;
      position: absolute;
      top: 100px;
      line-height: 66px;
      left: 50%;
      transform: translate(-50%);
      text-transform: uppercase;
      z-index: 1;
    }
    span {
      color: #010101;
      font-size: 30px;
      font-weight: 700;
      position: relative;
      z-index: 2;
      top: 36px;
      text-transform: uppercase;
    }
    .pricing-main-wrapper {
      margin-top: 210px;
      display: flex;
      .pricing-wrapper-block {
        display: block;
        margin-right: 30px;
        position: relative;
        h6 {
          color: #444444;
          font-family: 'Muli', sans-serif;
          background: #e6e6e6;
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          top: -39px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 39px;
          position: absolute;
        }
        .pricing-block {
          width: 361px;
          height: 212px;
          position: relative;
          img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          }
          h4 {
            position: relative;
            display: block;
            z-index: 2;
            color: #ffffff;
            font-family: "Poppins", sans-serif;
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 3px;
            padding-top: 30px;
          }
          p {
            position: relative;
            z-index: 2;
            color: #ffffff;
            font-family: "Muli", sans-serif;
            line-height: 24px;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 53px;
            i {
              font-family: "Muli", sans-serif;
              font-size: 40px;
              font-style: normal;
              margin-top: -51px;
            }
            span {
              font-size: 60px;
              font-weight: 700;
              font-family: "Poppins", sans-serif;
              color: #fff;
              margin-top: -100px;
            }
          }
          .price-describe {
            color: #dbdbdb;
            font-family: 'Muli', sans-serif;
            font-size: 13px;
            font-weight: 400;
            text-transform: none;
            margin-top: 32px;
          }
        }
        .pricing-desc {
          border: 1px solid #f1f1f1;
          background: #FFFFFF;
          ul {
            margin-top: 60px;
            li {
              border-bottom: 1px solid #f0f0f0;
              &:last-child {
                border: none;
              }
              a {
                color: #808080;
                font-family: 'Muli', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 60px;
                &:before {
                  content: "\f3d1";
                  display: inline-block;
                  font-family: "Ionicons";
                  width: 5px;
                  margin-right: 8px;
                  height: 5px;
                }
              }
              &:nth-child(6) a::before {
                content: none;
              }
              &:nth-child(7) a::before {
                content: none;
              }
            }
          }
        }
        button {
          color: #444444;
          font-size: 14px;
          font-weight: 600;
          line-height: 40px;
          display: block;
          background: #FFFFFF;
          margin-top: 4px;
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}

.pricing-arrow:before {
  content: "\f3d1" !important;
  display: inline-block;
  font-family: "Ionicons";
  width: 5px;
  margin-right: 8px;
  height: 5px;
}

.expert-main {
  position: relative;
  margin-top: 255px;
  margin-bottom: 358px;
  .expert-title {
    text-align: center;
    h1 {
      color: #f0f0f0;
      font-size: 91px;
      font-weight: 900;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      text-transform: uppercase;
      z-index: -1;
    }
    span {
      color: #444444;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 58px;
      display: block;
    }
    .expert-wrapper {
      display: flex;
      margin-top: 130px;
      justify-content: center;
      cursor: pointer;
      .expert-wrapper-main {
        margin-right: 30px;
        position: relative;
        .expert-block {
          display: flex;
        }
        .expert-desc {
          background: #ebebeb;
          margin-top: 8px;
          padding: 24px 24px 19px;
          h4 {
            color: #444444;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 23px;
          }
          p {
            color: #444444;
            padding-top: 21px;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            border-top: 1px solid #b7b7b7;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover .expert-hover {
          visibility: visible;
          opacity: 1;
          transition: all .6s;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          visibility: hidden;
          opacity: 0;
          left: 0;
          overflow: hidden;
          background: #ffe400;
          transition: all .6s;
        }
        &:hover::before {
          visibility: visible;
          opacity: 1;
          left: 0;
          transition: all .6s;
        }
        .expert-hover {
          padding: 40px;
          position: absolute;
          top: 0;
          visibility: hidden;
          opacity: 0;
          transition: all .6s;
          h3 {
            color: #000000;
            font-size: 24px;
            margin-top: 30px;
            font-weight: 700;
            text-transform: uppercase;
          }
          span {
            color: #000000;
            font-size: 16px;
            font-weight: 600;
            padding-top: 22px;
            text-transform: uppercase;
          }
          p {
            color: #000000;
            font-family: 'Muli', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            margin-top: 75px;
            padding-bottom: 125px;
            border-bottom: 1px solid #ab9900;
          }
          ul {
            display: flex;
            justify-content: center;
            margin-top: 38px;
            li {
              margin-right: 25px;
              a {
                i {
                  color: #6b6000;
                  font-size: 22px;
                  font-weight: 400;
                  letter-spacing: 0.88px;
                }
              }
              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}